{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "last 2 versions",
          "safari >= 7",
          "ios_saf >= 8",
          "not IE <= 10",
          "chrome >= 49",
          "firefox >= 49",
          "> 1%"
        ]
      },
      "debug": false,
      "loose": true,
      "modules": "commonjs",
      "useBuiltIns": true,
      "include": ["transform-es2015-arrow-functions"]
    }]
  ],
  "plugins": [
    ["transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ]
  ]
}
